/* line 16, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 21, ../../app/stylesheets/application.sass */
.hidden {
  visibility: hidden;
}

/* line 24, ../../app/stylesheets/application.sass */
a.active {
  text-decoration: none;
  color: #486e92;
  font-size: 14px;
}

/* line 29, ../../app/stylesheets/application.sass */
span.translation_missing {
  color: red;
  background: black;
}

/* line 34, ../../app/stylesheets/application.sass */
div#contents_container h1 {
  font-weight: bold;
  margin: 10px 0 10px 20px;
}
/* line 37, ../../app/stylesheets/application.sass */
div#contents_container ul {
  margin: 0 10px;
}
/* line 39, ../../app/stylesheets/application.sass */
div#contents_container ul li {
  list-style-type: none;
}

/* line 42, ../../app/stylesheets/application.sass */
.left-margin {
  margin-left: 10px;
}
/* line 44, ../../app/stylesheets/application.sass */
.left-margin ol {
  margin-left: 10px !important;
}

/* line 46, ../../app/stylesheets/application.sass */
.small-font {
  font-size: small !important;
}

/* line 50, ../../app/stylesheets/application.sass */
fieldset.compact li {
  margin-bottom: 0 !important;
}

/* line 54, ../../app/stylesheets/application.sass */
li .w100 {
  width: 100px;
}
/* line 56, ../../app/stylesheets/application.sass */
li .w150 {
  width: 150px !important;
}
/* line 58, ../../app/stylesheets/application.sass */
li .w200 {
  width: 200px;
}
/* line 60, ../../app/stylesheets/application.sass */
li .w250 {
  width: 250px;
}

/* line 62, ../../app/stylesheets/application.sass */
li.small_label {
  width: 130px;
}
/* line 64, ../../app/stylesheets/application.sass */
li.small_label label {
  font-size: small;
  margin-top: 5px;
  padding: 0 !important;
}

/* line 69, ../../app/stylesheets/application.sass */
div#header {
  height: 53px;
  text-align: right;
}

/* line 74, ../../app/stylesheets/application.sass */
div#contents_container.application {
  width: 400px;
  margin: 90px auto 0 auto;
}
/* line 78, ../../app/stylesheets/application.sass */
div#contents_container.application div#main_container div#main {
  width: 380px;
}
/* line 81, ../../app/stylesheets/application.sass */
div#contents_container.application div#main_container div#main form div.flash_plus_button {
  width: 380px;
}

/* line 84, ../../app/stylesheets/application.sass */
div#contents_container.admin {
  width: 600px;
  margin: 90px auto 0 auto;
}
/* line 88, ../../app/stylesheets/application.sass */
div#contents_container.admin div#main_container div#main {
  width: 580px;
}
/* line 91, ../../app/stylesheets/application.sass */
div#contents_container.admin div#main_container div#main form div.flash_plus_button {
  width: 580px;
}
/* line 93, ../../app/stylesheets/application.sass */
div#contents_container.admin div#main_container div#main div.footer {
  margin-top: 10px;
  display: block;
  background: #486e92;
}

/* line 98, ../../app/stylesheets/application.sass */
div.flash_plus_button {
  margin-top: 10px;
  float: left;
  background: #486e92;
}
/* line 102, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container {
  margin: 10px 0 5px 10px;
  float: left;
  width: 290px;
}
/* line 106, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container.admin_width_with_margin {
  width: 560px;
  margin: 10px;
}
/* line 109, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container.admin_width_with_margin div#flash_alert {
  color: white;
}
/* line 111, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container.admin_width_with_margin div#flash_notice {
  color: white;
}
/* line 113, ../../app/stylesheets/application.sass */
div.flash_plus_button input.submit {
  float: right;
  margin: 10px 10px 5px 0;
}
/* line 116, ../../app/stylesheets/application.sass */
div.flash_plus_button input.right {
  float: right;
  margin: 10px 0 5px 5px;
}

/* line 121, ../../app/stylesheets/application.sass */
div#contents_container div#main_container {
  border: 1px solid #2c4153;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: #486e92;
}
/* line 125, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav {
  margin-left: 10px;
  padding-top: 5px;
  height: 24px;
  font-size: 14px;
}
/* line 130, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav a {
  color: white;
  text-decoration: none;
}
/* line 133, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav a.right {
  float: right;
  margin-right: 10px;
}
/* line 136, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main {
  margin: 0 auto;
  border: 1px solid #2c4153;
  background: white;
}
/* line 140, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main a {
  font-size: 90%;
}
/* line 142, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main table {
  margin-left: 10px;
}
/* line 145, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main table tr td.bold {
  font-weight: bold;
}
/* line 147, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main table tr td {
  padding-right: 5px;
}

/* line 150, ../../app/stylesheets/application.sass */
td.action {
  width: 30px;
}
