/* line 26, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 31, ../../app/stylesheets/application.sass */
a {
  text-decoration: none;
  color: #486e92;
}

/* line 134, ../../app/stylesheets/application.sass */
div#contents_container.small {
  width: 400px;
}
/* line 82, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#site_nav {
  font-size: 14px;
}
/* line 84, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#site_nav div#language {
  float: left;
  width: 60px;
}
/* line 87, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#site_nav div#navigation {
  text-align: center;
  float: left;
  width: 260px;
}
/* line 91, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#site_nav div#navigation a {
  padding: 0 10px;
}
/* line 93, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#site_nav div#navigation a.active {
  color: black;
}
/* line 95, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#site_nav div#login {
  float: left;
  width: 60px;
}
/* line 98, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main {
  width: 380px;
}
/* line 37, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.formtastic li {
  list-style-type: none;
}
/* line 40, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.normal li {
  list-style-type: none;
}
/* line 42, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.normal label {
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 5px;
}
/* line 47, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.normal input {
  width: 200px;
}
/* line 49, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.normal input.submit {
  width: auto;
  margin: 5px 0 0 105px;
}
/* line 52, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.normal p.box_plus_button {
  margin: 5px;
  margin-left: 10px;
}
/* line 55, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.normal p.box_plus_button label {
  font-size: 14px;
  width: auto;
}
/* line 58, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form.normal p.box_plus_button input.submit {
  float: right;
  margin: 0 67px 0 0;
}
/* line 63, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.table {
  width: 360px;
  margin: 0 auto;
}
/* line 66, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.table div {
  border: 1px solid white;
}
/* line 68, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.table div:hover {
  border: 1px dashed black;
}
/* line 70, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.table div span {
  float: left;
  padding: 5px 0;
}
/* line 73, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.table div span.bold {
  font-weight: bold;
}
/* line 75, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.table div span.action {
  width: 30px;
  font-size: 12px;
}
/* line 102, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div#bottom_links {
  font-size: 12px;
  margin: 10px 0 0 10px;
}
/* line 106, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form div.flash_plus_button {
  margin-top: 10px;
  background: #486e92;
}
/* line 109, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form div.flash_plus_button div#flash_container {
  height: 30px;
  margin: 10px 0 5px 10px;
  float: left;
  width: 290px;
}
/* line 114, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form div.flash_plus_button div#flash_container div#flash_alert {
  color: white;
}
/* line 116, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main form div.flash_plus_button input.submit {
  float: right;
  margin: 10px 10px 5px 0;
}
/* line 119, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.flash {
  margin-top: 10px;
  height: 30px;
  background: #486e92;
}
/* line 123, ../../app/stylesheets/application.sass */
div#contents_container.small div#main_container div#main div.flash div#flash_container {
  padding: 5px 0 0 10px;
  color: white;
}
/* line 127, ../../app/stylesheets/application.sass */
div#contents_container.small div#footer {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}
/* line 131, ../../app/stylesheets/application.sass */
div#contents_container.small div#footer a {
  font-size: 11px;
}

/* line 136, ../../app/stylesheets/application.sass */
div#contents_container.wider {
  width: 500px;
}
/* line 82, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#site_nav {
  font-size: 14px;
}
/* line 84, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#site_nav div#language {
  float: left;
  width: 60px;
}
/* line 87, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#site_nav div#navigation {
  text-align: center;
  float: left;
  width: 360px;
}
/* line 91, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#site_nav div#navigation a {
  padding: 0 10px;
}
/* line 93, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#site_nav div#navigation a.active {
  color: black;
}
/* line 95, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#site_nav div#login {
  float: left;
  width: 60px;
}
/* line 98, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main {
  width: 480px;
}
/* line 37, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.formtastic li {
  list-style-type: none;
}
/* line 40, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.normal li {
  list-style-type: none;
}
/* line 42, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.normal label {
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 5px;
}
/* line 47, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.normal input {
  width: 200px;
}
/* line 49, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.normal input.submit {
  width: auto;
  margin: 5px 0 0 105px;
}
/* line 52, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.normal p.box_plus_button {
  margin: 5px;
  margin-left: 10px;
}
/* line 55, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.normal p.box_plus_button label {
  font-size: 14px;
  width: auto;
}
/* line 58, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form.normal p.box_plus_button input.submit {
  float: right;
  margin: 0 67px 0 0;
}
/* line 63, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.table {
  width: 460px;
  margin: 0 auto;
}
/* line 66, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.table div {
  border: 1px solid white;
}
/* line 68, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.table div:hover {
  border: 1px dashed black;
}
/* line 70, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.table div span {
  float: left;
  padding: 5px 0;
}
/* line 73, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.table div span.bold {
  font-weight: bold;
}
/* line 75, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.table div span.action {
  width: 30px;
  font-size: 12px;
}
/* line 102, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div#bottom_links {
  font-size: 12px;
  margin: 10px 0 0 10px;
}
/* line 106, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form div.flash_plus_button {
  margin-top: 10px;
  background: #486e92;
}
/* line 109, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form div.flash_plus_button div#flash_container {
  height: 30px;
  margin: 10px 0 5px 10px;
  float: left;
  width: 290px;
}
/* line 114, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form div.flash_plus_button div#flash_container div#flash_alert {
  color: white;
}
/* line 116, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main form div.flash_plus_button input.submit {
  float: right;
  margin: 10px 10px 5px 0;
}
/* line 119, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.flash {
  margin-top: 10px;
  height: 30px;
  background: #486e92;
}
/* line 123, ../../app/stylesheets/application.sass */
div#contents_container.wider div#main_container div#main div.flash div#flash_container {
  padding: 5px 0 0 10px;
  color: white;
}
/* line 127, ../../app/stylesheets/application.sass */
div#contents_container.wider div#footer {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}
/* line 131, ../../app/stylesheets/application.sass */
div#contents_container.wider div#footer a {
  font-size: 11px;
}

/* line 138, ../../app/stylesheets/application.sass */
div#contents_container.widest {
  width: 800px;
}
/* line 82, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#site_nav {
  font-size: 14px;
}
/* line 84, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#site_nav div#language {
  float: left;
  width: 60px;
}
/* line 87, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#site_nav div#navigation {
  text-align: center;
  float: left;
  width: 660px;
}
/* line 91, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#site_nav div#navigation a {
  padding: 0 10px;
}
/* line 93, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#site_nav div#navigation a.active {
  color: black;
}
/* line 95, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#site_nav div#login {
  float: left;
  width: 60px;
}
/* line 98, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main {
  width: 780px;
}
/* line 37, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.formtastic li {
  list-style-type: none;
}
/* line 40, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.normal li {
  list-style-type: none;
}
/* line 42, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.normal label {
  float: left;
  width: 100px;
  text-align: right;
  margin-right: 5px;
}
/* line 47, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.normal input {
  width: 200px;
}
/* line 49, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.normal input.submit {
  width: auto;
  margin: 5px 0 0 105px;
}
/* line 52, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.normal p.box_plus_button {
  margin: 5px;
  margin-left: 10px;
}
/* line 55, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.normal p.box_plus_button label {
  font-size: 14px;
  width: auto;
}
/* line 58, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form.normal p.box_plus_button input.submit {
  float: right;
  margin: 0 67px 0 0;
}
/* line 63, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.table {
  width: 760px;
  margin: 0 auto;
}
/* line 66, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.table div {
  border: 1px solid white;
}
/* line 68, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.table div:hover {
  border: 1px dashed black;
}
/* line 70, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.table div span {
  float: left;
  padding: 5px 0;
}
/* line 73, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.table div span.bold {
  font-weight: bold;
}
/* line 75, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.table div span.action {
  width: 30px;
  font-size: 12px;
}
/* line 102, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div#bottom_links {
  font-size: 12px;
  margin: 10px 0 0 10px;
}
/* line 106, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form div.flash_plus_button {
  margin-top: 10px;
  background: #486e92;
}
/* line 109, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form div.flash_plus_button div#flash_container {
  height: 30px;
  margin: 10px 0 5px 10px;
  float: left;
  width: 290px;
}
/* line 114, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form div.flash_plus_button div#flash_container div#flash_alert {
  color: white;
}
/* line 116, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main form div.flash_plus_button input.submit {
  float: right;
  margin: 10px 10px 5px 0;
}
/* line 119, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.flash {
  margin-top: 10px;
  height: 30px;
  background: #486e92;
}
/* line 123, ../../app/stylesheets/application.sass */
div#contents_container.widest div#main_container div#main div.flash div#flash_container {
  padding: 5px 0 0 10px;
  color: white;
}
/* line 127, ../../app/stylesheets/application.sass */
div#contents_container.widest div#footer {
  font-size: 11px;
  font-style: italic;
  text-align: right;
}
/* line 131, ../../app/stylesheets/application.sass */
div#contents_container.widest div#footer a {
  font-size: 11px;
}

/* line 141, ../../app/stylesheets/application.sass */
div#contents_container {
  margin: 90px auto 0 auto;
}
/* line 143, ../../app/stylesheets/application.sass */
div#contents_container div#main_container {
  border: 1px solid #2c4153;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: #486e92;
}
/* line 147, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav {
  margin-left: 10px;
  height: 24px;
  padding-top: 5px;
}
/* line 151, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav a {
  color: white;
}
/* line 153, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main {
  margin: 0 auto;
  border: 1px solid #2c4153;
  background: white;
}
/* line 157, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main h1 {
  margin: 15px 0 10px 10px;
  font-weight: bold;
}
/* line 160, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main h1:nth-child(1) {
  margin-top: 5px;
}

/* line 163, ../../app/stylesheets/application.sass */
.w25 {
  width: 25px;
}

/* line 165, ../../app/stylesheets/application.sass */
.w100 {
  width: 100px;
}

/* line 167, ../../app/stylesheets/application.sass */
.w150 {
  width: 150px !important;
}

/* line 169, ../../app/stylesheets/application.sass */
.w250 {
  width: 250px;
}

/* line 171, ../../app/stylesheets/application.sass */
.w300 {
  width: 300px !important;
}

/* line 173, ../../app/stylesheets/application.sass */
.w373 {
  width: 373px;
}

/* line 175, ../../app/stylesheets/application.sass */
.w398 {
  width: 398px;
}

/* line 177, ../../app/stylesheets/application.sass */
.w400 {
  width: 400px;
}

/* line 179, ../../app/stylesheets/application.sass */
.margin-top {
  margin-top: 5px;
}

/* line 181, ../../app/stylesheets/application.sass */
.truncate {
  overflow: hidden;
}

/* line 183, ../../app/stylesheets/application.sass */
.margin-left {
  margin-left: 10px;
}

/* line 187, ../../app/stylesheets/application.sass */
.small_label label {
  width: 150px;
  font-size: 12px;
  margin-top: 3px;
}
/* line 191, ../../app/stylesheets/application.sass */
.small_label label input {
  margin-top: 3px;
}

/* line 196, ../../app/stylesheets/application.sass */
fieldset.inline ol label {
  float: left;
}
/* line 198, ../../app/stylesheets/application.sass */
fieldset.inline ol li {
  float: left;
}
/* line 200, ../../app/stylesheets/application.sass */
fieldset.inline ol input {
  float: left;
}
/* line 202, ../../app/stylesheets/application.sass */
fieldset.inline ol input.submit {
  margin: 0 !important;
}
