/* line 16, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 21, ../../app/stylesheets/application.sass */
.hidden {
  visibility: hidden;
}

/* line 24, ../../app/stylesheets/application.sass */
a.active {
  text-decoration: none;
  color: #486e92;
  font-size: 14px;
}

/* line 29, ../../app/stylesheets/application.sass */
span.translation_missing {
  color: red;
  background: black;
}

/* line 34, ../../app/stylesheets/application.sass */
div#contents_container h1 {
  font-weight: bold;
  margin: 10px 0 10px 20px;
}
/* line 37, ../../app/stylesheets/application.sass */
div#contents_container ul {
  margin: 0 10px;
}
/* line 39, ../../app/stylesheets/application.sass */
div#contents_container ul li {
  list-style-type: none;
}

/* line 42, ../../app/stylesheets/application.sass */
div#header {
  height: 53px;
  text-align: right;
}

/* line 47, ../../app/stylesheets/application.sass */
div#contents_container.application {
  width: 400px;
  margin: 90px auto 0 auto;
}
/* line 51, ../../app/stylesheets/application.sass */
div#contents_container.application div#main_container div#main {
  width: 380px;
}
/* line 54, ../../app/stylesheets/application.sass */
div#contents_container.application div#main_container div#main form div.flash_plus_button {
  width: 380px;
}

/* line 57, ../../app/stylesheets/application.sass */
div#contents_container.admin {
  width: 600px;
  margin: 90px auto 0 auto;
}
/* line 61, ../../app/stylesheets/application.sass */
div#contents_container.admin div#main_container div#main {
  width: 580px;
}
/* line 64, ../../app/stylesheets/application.sass */
div#contents_container.admin div#main_container div#main form div.flash_plus_button {
  width: 580px;
}
/* line 66, ../../app/stylesheets/application.sass */
div#contents_container.admin div#main_container div#main div.footer {
  margin-top: 10px;
  display: block;
  background: #486e92;
}

/* line 71, ../../app/stylesheets/application.sass */
div.flash_plus_button {
  margin-top: 10px;
  float: left;
  background: #486e92;
}
/* line 75, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container {
  margin: 10px 0 5px 10px;
  float: left;
  width: 290px;
}
/* line 79, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container.admin_width_with_margin {
  width: 560px;
  margin: 10px;
}
/* line 82, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container.admin_width_with_margin div#flash_alert {
  color: white;
}
/* line 84, ../../app/stylesheets/application.sass */
div.flash_plus_button div#flash_container.admin_width_with_margin div#flash_notice {
  color: white;
}
/* line 86, ../../app/stylesheets/application.sass */
div.flash_plus_button input.submit {
  float: right;
  margin: 10px 10px 5px 0;
}

/* line 91, ../../app/stylesheets/application.sass */
div#contents_container div#main_container {
  border: 1px solid #2c4153;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: #486e92;
}
/* line 95, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav {
  margin-left: 10px;
  padding-top: 5px;
  height: 24px;
  font-size: 14px;
}
/* line 100, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav a {
  color: white;
  text-decoration: none;
}
/* line 103, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#site_nav a.right {
  float: right;
  margin-right: 10px;
}
/* line 106, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main {
  margin: 0 auto;
  border: 1px solid #2c4153;
  background: white;
}
/* line 110, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main a {
  font-size: 90%;
}
/* line 112, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main table {
  margin-left: 10px;
}
/* line 115, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main table tr td.bold {
  font-weight: bold;
}
/* line 117, ../../app/stylesheets/application.sass */
div#contents_container div#main_container div#main table tr td {
  padding-right: 5px;
}
