@import "compass/css3/border-radius"

$main_margin_width: 10px

$contents_container_width_small: 400px
$contents_container_width_wider: 500px
$contents_container_width_widerer: 600px
$contents_container_width_widest: 800px
$header_contents_container_separator_width: 90px 

$site_nav_height: 24px

$main_frame_border_colour: #2c4153
$main_frame_colour: #486e92
$main_radius: 10px

$language_width: 60px
$login_width: 60px

$flash_container_width: 290px

$label_width: 100px 
$label_margin_width: 5px
$label_full_width: $label_width + $label_margin_width
$text_field_width: 200px

div.clear
  clear: both
  height: 0
  overflow: hidden

a
  text-decoration: none
  color: $main_frame_colour

@mixin form($width)
  form#filter
    div.hr
      margin-top: 30px
    input.submit.inner
      float: right
      margin-top: 5px
      margin-right: $width - 3*$main_margin_width - 250px - 150px - 2*2px
  form.formtastic
    li
      list-style-type: none
  form.normal
    li
      list-style-type: none
    label
      float: left
      width: $label_width
      text-align: right
      margin-right: $label_margin_width
    input
      width: $text_field_width
    input.submit
      width: auto
      margin: 5px 0 0 $label_full_width
    p.box_plus_button
      margin: 5px
      margin-left: $main_margin_width
      label
        font-size: 14px
        width: auto
      input.submit
        float: right
        margin: 0 67px 0 0

@mixin table($width)
  div.table
    width: $width - 4*$main_margin_width
    margin: 0 auto
    div.outer
      border: 1px solid white
      &:hover
        border: 1px dashed black
      div.inner
      span
        float: left
        padding: 5px 0
      span.bold
        font-weight: bold
      span.action
        width: 30px
        font-size: 12px

@mixin content_container($width)
  width: $width 
  div#main_container
    div#site_nav
      font-size: 14px
      div#language
        float: left
        width: $language_width
      div#navigation
        text-align: center
        float: left
        width: $width - $language_width - $login_width - 2*$main_margin_width
        a
          padding: 0 10px
        a.active
          color: black
      div#login
        float: left 
        width: $login_width
    div#main
      width: $width - 2*$main_margin_width
      +form($width)
      +table($width)
      div#bottom_links
        font-size: 12px
        margin: 10px 0 0 $main_margin_width
      form 
        div.flash_plus_button
          margin-top: 10px
          background: $main_frame_colour
          div#flash_container
            height: 30px
            margin: 10px 0 5px 10px
            float: left
            width: $flash_container_width
            div#flash_alert
              color: white
          input.submit
            float: right
            margin: 10px 10px 5px 0
      div.flash
        margin-top: 10px
        height: 30px
        background: $main_frame_colour
        div#flash_container
          padding: 5px 0 0 $main_margin_width
          color: white

  div#footer
    font-size: 11px
    font-style: italic
    text-align: right
    a
      font-size: 11px

div#contents_container.small
  +content_container($contents_container_width_small)
div#contents_container.wider
  +content_container($contents_container_width_wider)
div#contents_container.widerer
  +content_container($contents_container_width_widerer)
div#contents_container.widest
  +content_container($contents_container_width_widest)

div#contents_container
  margin: $header_contents_container_separator_width auto 0 auto
  div#main_container
    border: 1px solid $main_frame_border_colour
    +border-radius($main_radius)
    background: $main_frame_colour
    div#site_nav
      margin-left: $main_margin_width
      height: $site_nav_height
      padding-top: 5px
      a
        color: white
    div#main
      margin: 0 auto
      border: 1px solid $main_frame_border_colour
      background: white
      h1
        margin: 15px 0 10px $main_margin_width 
        font-weight: bold
      h1:nth-child(1)
        margin-top: 5px

.w25
  width: 25px
.w100
  width: 100px
.w150
  width: 150px
.w250
  width: 250px
.w300
  width: 300px !important
.w373
  width: 373px
.w398
  width: 398px
.w400
  width: 400px 
.margin-top
  margin-top: 5px
.truncate
  overflow: hidden
.margin-left
  margin-left: $main_margin_width
.small_font
  font-size: 13px
.small_label
  label
    width: 150px
    font-size: 12px
    margin-top: 3px
    input
      margin-top: 3px

fieldset.inline
  ol
    label
      float: left
    li
      float: left
    input
      float: left
    input.submit
      margin: 0 !important
