<h1>Error</h1>

<div class="margin-left">
  <%= raw @error %>
</div>

<div class="flash">
  <div id="flash_container" class="admin_width_with_margin">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </div>
</div>
<div class="clear"></div>
