<div id="main">
  <% content_for(:site_nav) do %>
    <%= link_to t(:logout), logout_path, :class => :right %>
  <% end %>

  <% if @error %>
    <%= render 'error' %>
  <% else %>
    <%= render 'index' %>
  <% end %>
</div>
