<table id="filters">
<% @filters.each do |filter| %>
  <tr>
    <td><%= filter.rules_to_s.join %></td>
    <td><%= filter.actions.map(&:destination_to_file).join %></td>
    <td><%= link_to t(:edit), edit_procmail_filter_path(filter) %></td>
  </tr>
<% end %>
</table>

<div id="bottom_links">
  <%= link_to new(:filter), new_procmail_filter_path %>
</div>
